@import 'libs';
@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 48px;
  margin-bottom: 46px;
}

.logo {
  &__img {
    max-width: 146px;
    max-height: 39px;
  }
}

.menu {
  &__list {
    display: flex;
  }

  &__list-item+&__list-item {
    margin-left: 33px;

  }

  &__list-link {
    color: $header-text;
    text-decoration: none;
    font-size: 15px;
    line-height: 0.8;
    @extend %rubik-500;

    &:hover {
      text-decoration: underline;
    }
  }
}

.user-nav {
  display: flex;

  &__link {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    transition: all .3s;

    &::before {
      content: '';
      position: absolute;
      width: 50px;
      height: 50px;
      top: 0;
      left: 0;
    }
  }

  &__link--heart {
    &::before {
      background-image: url('../images/icons/heart.svg');
      background-repeat: no-repeat;
      background-position: center;
      transform: translateX(35%);
    }
  }

  &__link--card {
    &::before {
      background-image: url('../images/icons/cart.svg');
      background-repeat: no-repeat;
      background-position: center;
      transform: translateX(35%);
    }
  }

  &__link--search {
    margin-right: 20px;

    &:hover {
      background-color: darken($main-btn, 10%);
    }

    &:active {
      background-color: darken($main-btn, 20%);
    }

    &::before {
      background-image: url('../images/icons/search.svg');
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__link--dots {
    &::before {
      background-image: url('../images/icons/dots.svg');
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__inner {
    display: flex;
    position: relative;
    justify-content: space-around;
    background-color: $main-bg;
    border-radius: 25px;
    min-width: 178px;
  }

  &__inner::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 2px;
    height: 70%;
    background-color: #fde7d3;
  }

  &__inner &__link {
    width: 89px;
  }

  &__inner &__link:nth-of-type(2) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }

  &__inner &__link:nth-of-type(1) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }

  &__inner &__link:hover {
    background-color: darken($main-btn, 10%);
  }

  &__inner &__link:active {
    background-color: darken($main-btn, 20%);
  }

  &__num {
    position: absolute;
    top: 8px;
    right: 28px;
    width: 16px;
    height: 16px;
    background-color: #fff;
    color: $title-blue;
    text-align: center;
    font-size: 11px;
    line-height: 1.6;
    border-radius: 50%;
    @extend %dmsans-500;
  }

  &__link--dots {
    margin-left: 20px;
    background-color: $main-btn;

    &:hover {
      background-color: darken($main-btn, 10%);
    }

    &:active {
      background-color: darken($main-btn, 20%);
    }
  }
}

.footer {
  padding-top: 76px;

}

.footer-inner {
  display: flex;
  justify-content: space-between;
  padding-bottom: 74px;

  &__menu {
    color: $text-footer;
    @extend %rubik-400;
    width: 25%;
  }

  &__item-form {
    padding-left: 12px;
    width: auto;
  }

  &__info {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    margin-top: 26px;
    @extend %rubik-400;
  }

  &__adress-link {
    color: $text-footer;
    font-size: 14px;
    line-height: 1.7;

    span {
      text-transform: uppercase;
    }
  }

  &__adress-link+&__adress-link {
    margin-top: 10px;
  }

  &__title {
    font-size: 16px;
    line-height: 1.3;
    @extend %dmsans-700;
    color: $title-footer;
    margin-top: 16px;
    margin-bottom: 26px;
    text-transform: uppercase;
  }

  &__item {
    margin-bottom: 20px;
    color: #7b7b7b;
    @extend %rubik-400;
  }

  &__link {
    font-size: 14px;
    color: $text-footer;
  }

  &__text {
    @extend %rubik-400;
    max-width: 275px;
    margin-bottom: 36px;
  }

  &__form {
    display: flex;
  }

  &__form-input {
    background-color: #fef7f0;
    color: $title-footer;
    max-width: 170px;
    padding: 12px 12px 12px 15px;
    border: none;
    outline: none;
    font-size: 12px;
    line-height: 1.8;
    @extend %dmsans-400;
  }

  &__form-input::placeholder {
    color: $title-footer;
  }

  &__form-btn {
    padding: 12px 25px 12px 28px;
    font-size: 14px;
    line-height: 1.5;
    @extend %main-btn;
  }
}

.footer a:hover {
  transition: 0.3s ease;
  color: $title-black;
}

.footer-bottom {
  padding: 36px 0;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #dae4e9;

  &__copy {
    font-size: 14px;
    @extend %rubik-400;
    color: $text-footer;
  }

  &__list {
    display: flex;
  }

  &__item {
    padding: 0 14px;
    border-right: .5px solid $text-footer;
    border-left: .5px solid $text-footer;
  }

  &__item:last-of-type {
    border-right: none;
  }

  &__item:first-of-type {
    border-left: none;
  }

  &__link {
    @extend %rubik-400;
    color: $text-footer;
    font-size: 14px;
  }
}

.top-slider {
  max-width: 1740px;
  margin: 0 auto;
  background-color: $main-bg;
  background-image: url('../images/slider-bg.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 95% 50%;

  &__container {
    max-width: 1300px;
    margin: 0 auto;
  }

  &__item {
    display: flex !important;
    margin: auto 0;
    padding: 220px 0 280px 100px;
    position: relative;
  }

  &__title {
    font-size: 72px;
    line-height: 1;
    text-transform: uppercase;
    color: $title-blue;
    @extend %rubik-500;
    max-width: 420px;
    margin-bottom: 42px;
  }

  &__text {
    color: $title-blue;
    @extend %rubik-400;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 42px;
  }

  &__btn {
    @extend %main-btn;
    padding: 24px 20px 24px 28px;
    font-size: 15px;
    line-height: 0.8;
    @extend %rubik-500;
  }

  &__btn svg {
    margin-left: 60px;
    fill: #fff;
  }

  &__img {
    position: relative;
    z-index: 20;
    margin-left: 110px;
  }
}

.slick-slide:focus {
  outline: none;
}

.slick-dots {
  display: flex;
  position: absolute;
  bottom: 44px;
  left: 50%;
  font-size: 11px;
  line-height: 0.8;
  transform: translateX(-50%);

  li {
    button {
      width: 30px;
      height: 30px;
      background-color: #fde3cc;
      border-radius: 50%;
      border: none;
      outline: none;
      cursor: pointer;
      margin-right: 12px;
      color: $title-blue;
      @extend %rubik-400;
    }

    &.slick-active button {
      background-color: #fff;
      border-radius: 50%;
    }
  }
}

.info {
  display: flex;
  justify-content: space-around;
  height: 170px;
  background-color: $info-bg;
  align-items: center;
  margin-bottom: 75px;

  &__title {
    @extend %dmsans-700;
    font-size: 18px;
    margin-bottom: 18px;
  }

  &__text {
    @extend %dmsans-400;
    line-height: 1.8;
    max-width: 225px;
  }

  &__item {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 60px;
      height: 60px;
    }
  }

  &__item--support::before {
    background-image: url("../images/icons/support.svg");
    background-repeat: no-repeat;
    background-position: center;
    transform: translateX(-150%);
  }

  &__item--delivery::before {
    background-image: url("../images/icons/delivery.svg");
    background-repeat: no-repeat;
    background-position: center;
    transform: translateX(-150%);
  }

  &__item--payment::before {
    background-image: url("../images/icons/payment.svg");
    background-repeat: no-repeat;
    background-position: center;
    transform: translateX(-150%);
  }
}

.produce {
  margin-bottom: 105px;
}

.products {
  &__title {
    text-align: center;
  }

  &__filters {
    display: flex;
    justify-content: center;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1230px;
    margin: 0 auto;
    margin-bottom: 146px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 270px;
    height: 380px;
    border-radius: 10px;
    margin-right: 30px;
    margin-bottom: 40px;
    position: relative;
    background-color: #fff;
    box-shadow: 0 6px 50px #f5f5f5;

    &:hover .products__link {
      opacity: 1;
    }
  }

  &__subtitle {
    @extend %dmsans-500;
    color: $title-blue;
    line-height: 2.5;
  }

  &__price {
    @extend %dmsans-700;
    color: $main-btn;
  }

  &__img {
    object-fit: scale-down;
    max-height: 205px;
    margin-top: auto;
    margin-bottom: 61px;
  }

  &__text {
    margin-bottom: 38px;
  }

  &__elements {
    position: absolute;
    bottom: 40%;
  }

  &__link {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: all 0.3s ease;
    box-shadow: 0 5px 5px #686868;
    opacity: 0;
    background-color: #fff;
    position: relative;
    cursor: pointer;

    &:hover {
      background-color: $main-btn;

      svg {
        fill: #fff;
      }
    }

    &:not(:last-child) {
      margin-right: 16px;
    }

    svg {
      fill: $main-btn;
      margin-bottom: -3px;
    }
  }
}



@import 'media';


